<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<body>
<!-- Footer-->
<footer th:fragment="ShopFooter" class="py-1 bg-dark">
    <div class="container">
<!--        <p class="m-0 text-center text-white">Copyright &copy; MckW 2023</p>-->
        <div class="row mb-2 justify-content-center">
                <div class="col-12 col-md-6 text-center">
                    <p class="text-white">O mojej pracy, nauczyciela Montessori, piszę tu:</p>
                </div>
                <div class="col-2 col-md-1">
                    <a href="http:"><img class="img-fluid" src="../../svg/facebook.svg"> </a>
                </div>
                <div class="col-2 col-md-1">
                    <a href="http:"><img class="img-fluid" src="../../svg/instagram.svg"> </a>
                </div>
        </div>
    </div>
</footer>
</body>
</html>