<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Item - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../css/styles.css" rel="stylesheet" />
    </head>
    <body>
    <!-- Navigation-->
    <nav th:replace="fragments/navigation :: ShopHeader"></nav>
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">

<!--                        <img class="card-img-top mb-5 mb-md-0 h-100" th:src="${item.fileName}" alt="..." />-->
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="https://images.unsplash.com/photo-1544716278-e513176f20b5" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://images.unsplash.com/photo-1509021436665-8f07dbf5bf1d" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://images.unsplash.com/photo-1476275466078-4007374efbbe" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">
                            <p>
                            <span>ID: </span>
                            <span th:text="${item.getId()}">BST-498</span>
                            </p>
                        </p></div>
                        <h1 th:text="${item.getName()}" class="display-5 fw-bolder">Shop item template</h1>
                        <div class="fs-5 mb-5">
                            <p>
                                <span th:if="${item.isSale()}" th:text="${currencySymbol}" class="text-muted text-decoration-line-through">$20.00</span>
                                <span th:if="${item.isSale()}" th:text="${item.getFormerPrice()}" class="text-muted text-decoration-line-through">$20.00</span>
                                <span th:text="${currencySymbol}"></span>
                                <span th:text="${item.getActualPrice()}">$40.00 - $80.00</span>
                            </p>
                        </div>
                        <p th:text="${item.getDescription()}" class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                        <div class="d-flex">
                            <a th:href="@{'/items/add/' + ${item.getId()}}" class="btn btn-outline-dark flex-shrink-0" role="button">
                                <i class="bi-cart-fill me-1"></i>
                                Dodaj
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <!--<section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $40.00 - $80.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Sale badge&ndash;&gt;
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Special Item</h5>
                                    &lt;!&ndash; Product reviews&ndash;&gt;
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Sale badge&ndash;&gt;
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    &lt;!&ndash; Product reviews&ndash;&gt;
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $40.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- Footer-->
        <footer th:replace="fragments/footer :: ShopFooter"></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../../js/scripts.js"></script>
    </body>
</html>
