<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../css/styles.css" rel="stylesheet" />
    </head>
    <body>
    <!-- Navigation-->
    <nav th:replace="fragments/navigation :: ShopHeader"></nav>
        <!-- Header-->
        <header class="bg-black py-sm-5 py-0">
            <div class="container px-0 px-lg-5 my-0">
                <div class="text-center text-white">
                    <img src="../images/top.jpg" class="top-image" alt="...">
                    <h1 class="display-4 fw-bolder">Sklep</h1>
                    <p class="lead fw-normal text-white-50 mb-0" th:text="${itemsTitle}">Matematyka</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
<!--            <svg th:if="${allItems.isEmpty()}" href="/images/noitems.svg"></svg>-->

            <div class="container px-4 px-lg-5 mt-5">
                <img class="img-fluid" th:if="${allItems.isEmpty()}" src="../images/noitems.svg" alt="...">

                <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5" th:each="item : ${allItems}">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div th:if="${item.sale}" class="badge bg-danger text-white position-absolute blink_me" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" th:src="${item.fileName}" alt="..." />
<!--                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${item.name}">Fancy Product</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div th:each="star : ${#numbers.sequence(1, 5)}"
                                             th:class="${item.rating >= star*2} ? 'bi-star-fill' : (${item.rating >= (star*2)-1} ? 'bi-star-half' : 'bi-star')"></div>
                                    </div>

                                    <!-- Product price-->
                                    <p>
                                        <span th:if="${item.sale}" th:text="${currencySymbol}" class="text-muted text-decoration-line-through">$20.00</span>
                                        <span th:if="${item.sale}" th:text="${item.getFormerPrice()}" class="text-muted text-decoration-line-through">$20.00</span>
                                        <span th:text="${currencySymbol}"></span>
                                        <span th:text="${item.getActualPrice}">$40.00 - $80.00</span>
                                    </p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/items/{itemId}(itemId=${item.getId()})}">Szczegóły</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; MckW 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../../static/js/scripts.js"></script>
    </body>
</html>